<div class="panel panel-default">
  <div class="panel-heading"> Create A New User </div>
  <div class="panel-body">

    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <h3> General information </h3><br>
        <div class="form-group">
          <%= f.label :username%> <%= "Note: can't be changed" %><br>
          <%= f.text_field :username, class: 'form-control' %>
              </div>

      <div class="form-group">
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>

        <div class="form-group">
          <%= f.label :last_name %><br>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email %><br>
          <%= f.text_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %><br>
          <%= f.password_field :password, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>

              <h3> About you </h3>
        <div class="form-group">
          <%= f.label :interest_list %><br>
          <%= f.text_field :interest_list, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :bio %><br>
          <%= f.text_field :bio, class: 'form-control' %>
        </div>
              <h3> Period of interest </h3>

        <div class="form-group">
          <%= f.label "Start Date, use form YYYY-MM-DD" %><br>

          <%= f.date_field :start_date, class: 'form-control'%>

        </div>

        <div class="form-group">
          <%= f.label "End Date, use form YYYY-MM-DD" %><br>

          <%= f.date_field :end_date, class: 'form-control'%>

        </div><br>



      <div class="form-group">
        <%= f.submit 'Save', class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>